apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: psd-converter
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/Pushkin-desu/psd_png_converter.git
    targetRevision: main
    path: k8s/overlays/production
  destination:
    server: https://kubernetes.default.svc
    namespace: psd-converter
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
